.sprint-ticket-list-item.ant-list-item {
  border-left-width: 8px;
  border-left-style: solid;
  padding: 12px 8px;
  cursor: grab;

  &:hover {
    background-color: #ddd;
  }

  &.bug {
    border-left-color: #ee0c7d;
  }

  &.task {
    border-left-color: #00a5f8;
  }

  &.subtask {
    border-left-color: #11ccff;
  }

  &.story {
    border-left-color: #11cc55;
  }

  &__content {
    width: 100%;
  }
}