@import '../../../App.scss';

.sprint-ticket-list-item.ant-list-item {
  border-left-width: 8px;
  border-left-style: solid;
  padding: 12px 8px;
  cursor: grab;

  &:hover {
    background-color: #eee;
  }

  &.bug {
    border-left-color: $bugColor;
  }

  &.task {
    border-left-color: $taskColor;
  }

  &.subtask {
    border-left-color: $subtaskColor;
  }

  &.story {
    border-left-color: $storyColor;
  }

  &__content {
    width: 100%;
  }
}