.sprint-ticket-list-header-container {
  background-color: #f8f8f8;
  margin: -12px -24px;
  padding: 12px 16px;
  border-bottom: 1px solid #bbb;

  .description-text {
    width: 40vw;
  }

  @media (max-width: 800px) {
    .description-text {
      width: 150px;
    }
  }
}