@import '../../App.scss';

.ticket-type {
  &.bug {
    color: $bugColor;
  }

  &.task {
    color: $taskColor;
  }

  &.subtask {
    color: $subtaskColor;
  }

  &.story {
    color: $storyColor;
  }
}

@media (max-width: 1000px) {
  .ant-btn > .edit-ticket-btn-text {
    display: none;
  }
}